
.add-item-button{
  vertical-align: top !important;
}

.item-price{
  vertical-align: top !important;
}

.banner {
  padding: 1rem 1rem;
}


.MuiPaper-root{
  margin-left: 5.5rem;
  padding: 0.8rem;
}

.page-link, .page-footer, .search-btn {
  color: #212529 !important;
}


